nav{
    border: thick double #32a1ce;
}

#java{
    border: thick double #32a1ce;
    overflow:scroll;
    padding: 2%;
}


.contour{
    border: thick double #32a1ce;
}

.menu{
    padding-top: 2%;
}
